<header>
    <h1 class="logo"><a href="">LOGO</a></h1>
    <!-- Meny knapp för att öppna mobilmenyn-->
    <button class="menu-btn open" id="open-menu" @onclick="ToggleNav">
        <span class="menu-icon">
            <span class="bars"></span>
            <span class="bars"></span>
            <span class="bars"></span>
        </span>
        <span class="menu-text">Meny</span>
    </button>
    @if (!dummy)
    {
        
        <!-- navigering -->
        <nav id="nav-menu">
            <!-- Knapp som visas om mobilmenyn är utfälld -->
            <button class="menu-btn close" id="close-menu" @onclick="ToggleNav">
                <span class="menu-icon">
                    <span class="bars cross1"></span>
                    <span class="bars cross2"></span>
                </span>
                <span class="menu-text">Stäng</span>
            </button>

            <ul>
                <li>
                    <NavLink class="" href="" Match="NavLinkMatch.All">
                        <a class="" aria-hidden="true">Home</a>
                    </NavLink>

                </li>
                <li>
                    <NavLink class="" href="people">
                        <a class="" aria-hidden="true">Information</a>
                    </NavLink>
                </li>
                <li>
                    <NavLink class="" href="converter">
                        <a class="" aria-hidden="true">Konverterare</a>
                    </NavLink>
                </li>
            </ul>
        </nav>
    } else{
        <!-- navigering -->
        <nav id="nav-menu" class="nav-hide">
            <!-- Knapp som visas om mobilmenyn är utfälld -->
            <button class="menu-btn close" id="close-menu">
                <span class="menu-icon">
                    <span class="bars cross1"></span>
                    <span class="bars cross2"></span>
                </span>
                <span class="menu-text">Stäng</span>
            </button>

            <ul>
                <li>
                    <NavLink class="" href="" Match="NavLinkMatch.All">
                        <a class="" aria-hidden="true">Home</a>
                    </NavLink>

                </li>
                <li>
                    <NavLink class="" href="people">
                        <a class="" aria-hidden="true">Information</a>
                    </NavLink>
                </li>
                <li>
                    <NavLink class="" href="converter">
                        <a class="" aria-hidden="true">Konverterare</a>
                    </NavLink>
                </li>
            </ul>
        </nav>
    }
   



</header>





@code {
    private bool dummy = true;

    private void ToggleNav()
    {
        if (dummy)
        {
            dummy = false;
        } else {
            dummy = true;
        }
    }

}
