<div class="aleter alert-secondary mt-4" role="alert">

    <strong>Information om sidan</strong>

    <p>Denna sida ingår i moment 1.2 där uppgiften är följande:</p>

    <ol>
        <li>Konvertera avstånd från meter till feet</li>
        <li>Konvertera hastighet från km/hr till mph</li>
        <li>Importera information via HttpClien för att läsa in data i JSON-format</li>
        <li>Skapa en komponent</li>
    </ol>
</div>

