/* /Components/Layout/FooterMenu.razor.rz.scp.css */
footer[b-44xszfedzy] {
    background-color: #0072B2;
    padding: 1rem 1rem;
    color: #FFFFFF;
    margin-top: 1rem;
    position: relative;
    top: 80px;
}
.footer-text p[b-44xszfedzy] {
    margin-bottom: 0.5rem;
    text-align: center;
}
/* /Components/Layout/MainLayout.razor.rz.scp.css */
*[b-xruxc9mue7] {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}   
main[b-xruxc9mue7] {
    position: relative;
    top: 80px;
}
.logo a[b-xruxc9mue7] {
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    margin: 0;
    margin-left: 1rem;
    text-decoration: none;
}
/* /Components/Layout/NavMenu.razor.rz.scp.css */
/* Design av Header */
header[b-lv81tnalhc] {
    height: 80px;
    background-color: #0072B2;
    margin: 0;
    position: fixed;
    padding: 0 1em;
    padding-left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    top: 0;
}

main[b-lv81tnalhc] {
    position: relative;
    top: 80px;
}

.logo a[b-lv81tnalhc] {
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    margin: 0;
    margin-left: 1rem;
    text-decoration: none;
}

/* Design av meny för mobilenheter, placeras till höger om skärmen */
nav[b-lv81tnalhc] {
    background-color: #0072B2;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.71);
    font-size: 1.4em;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    z-index: 1;
}

.nav-hide[b-lv81tnalhc]{
    display:none;
}

nav ul[b-lv81tnalhc] {
    width: 100%;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

nav li[b-lv81tnalhc] {
    padding: 0.8em 0;
    width: 100%;
}

nav a[b-lv81tnalhc] {
    color: white;
    text-decoration: none;
    padding: 0 1em;
}

nav li:hover[b-lv81tnalhc] {
    background-color: #FFAD00;
    cursor: pointer;
    color: #000000;
}

li:hover a[b-lv81tnalhc] {
    color: inherit;
}

button:hover[b-lv81tnalhc],
input[type=submit]:hover[b-lv81tnalhc],
.edit-btn:hover[b-lv81tnalhc],
.readbtn:hover[b-lv81tnalhc] {
    background-color: #FFAD00 !important;
}

/* Meny knapp, öppna meny */
.menu-btn[b-lv81tnalhc] {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: #0072B2;
    border: white solid 2px;
    cursor: pointer;
}

.open[b-lv81tnalhc] {
    margin: 0 1em;
}

.menu-btn:hover[b-lv81tnalhc] {
    background-color: #FFAD00;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}

.menu-icon[b-lv81tnalhc] {
    margin-right: 10px;
}

/* de tre svarta strecken (hamburg-icon) */
.bars[b-lv81tnalhc] {
    display: block;
    width: 20px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.menu-text[b-lv81tnalhc] {
    font-size: 1.2em;
    color: white;
}

/* Meny knapp, stäng */
.close[b-lv81tnalhc] {
    margin: 1em 1.5em;
    padding: 10px 15px;

}

/* Roterar två lodräda streck, till ett kryss */
.cross1[b-lv81tnalhc] {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2[b-lv81tnalhc] {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}

.nav-select[b-lv81tnalhc] {
    background-color: #D55E00;

}

.nav-select a[b-lv81tnalhc] {
    color: #000000;
}

li[b-lv81tnalhc] {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 1rem 0;
}

/* Större skärmas - gör menyn som inline */
@media only screen and (min-width: 992px) {
    header[b-lv81tnalhc] {
        padding: 0 0;
        position: fixed;
    }

    .logo a[b-lv81tnalhc] {
        margin-left: 2rem;
    }

    .menu-btn[b-lv81tnalhc] {
        display: none;
    }

    #open-menu[b-lv81tnalhc] {
        display: none !important;
    }

    nav[b-lv81tnalhc] {
        display: block !important;
        position: static;
        box-shadow: 0 0px 0px;
        height: auto;
        font-size: 1.4em;
        width: auto;
    }

    nav ul[b-lv81tnalhc] {
        height: 100%;
        margin-right: 1rem;
    }

    nav li[b-lv81tnalhc] {
        display: inline;
        padding: 1.2em 0;
    }
}
