footer[b-44xszfedzy] {
    background-color: #0072B2;
    padding: 1rem 1rem;
    color: #FFFFFF;
    margin-top: 1rem;
    position: relative;
    top: 80px;
}
.footer-text p[b-44xszfedzy] {
    margin-bottom: 0.5rem;
    text-align: center;
}