*[b-xruxc9mue7] {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}   
main[b-xruxc9mue7] {
    position: relative;
    top: 80px;
}
.logo a[b-xruxc9mue7] {
    color: rgb(255, 255, 255);
    font-size: 0.8em;
    margin: 0;
    margin-left: 1rem;
    text-decoration: none;
}